body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(207, 252, 102);
    color: rgb(52, 165, 52);
    font-family: 'Arial Black';
}